/YOLOv8/
/AiMonitoringSystem/Yolo-Weights/
/AiMonitoringSystem/venv/
/AiMonitoringSystem/.idea/
/AiMonitoringSystem/temp/
/AiMonitoringSystem/testing_images/
/AiMonitoringSystem/video_cases/
/AiMonitoringSystem/problem_clips/
